<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/view-book">
    <span class="dasboard-text"><i class="fas fa-book pr-2"></i>Информационная панель</span>
  </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid mt-5">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/register-book" routerLinkActive="active"><i class="fas fa-plus"></i>Добавить Книгу</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-book" routerLinkActive="active">
              <i class="fas fa-list-ul"></i>Лист Книг
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
